<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=307]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        <FilesMatch "\.(cur|gif|ico|jpe?g|png|svgz?|webp)$">
            SetEnvIf Origin ":" IS_CORS
            Header set Access-Control-Allow-Origin "*"
        </FilesMatch>
    </IfModule>
</IfModule>
# 修改后所有请求都会走swoole不会再走php-fpm
# Apache开启以下扩展，路径不同，最好查找并删除前面的井号
# LoadModule proxy_module /yourpath/modules/mod_proxy.so
# LoadModule proxy_balancer_module /yourpath/modules/mod_proxy_balancer.so
# LoadModule lbmethod_byrequests_module /yourpath/modules/mod_lbmethod_byrequests.so
# LoadModule proxy_http_module /yourpath/modules/mod_proxy_http.so
# LoadModule slotmem_shm_module /yourpath/modules/mod_slotmem_shm.so
# LoadModule rewrite_module /yourpath/modules/mod_rewrite.so
# LoadModule remoteip_module /yourpath/modules/mod_remoteip.so
# LoadModule deflate_module /yourpath/modules/mod_deflate.so
# ws服务需要开启
# LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so

# 这段需要在vhost中不能在.htaccess中
#
# <IfModule deflate_module>
  #    SetOutputFilter DEFLATE
  #    DeflateCompressionLevel 2
  #    AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript application/json application/javascript application/x-javascript application/xml application/x-httpd-php image/jpeg image/gif image/png font/ttf font/otf image/svg+xml
  #</IfModule>
  #
  #<VirtualHost *:80>
  #    ServerAdmin webmaster@example.com
  #    DocumentRoot "/www/wwwroot/lycadmin.test/public"
  #    ServerName 18fada3a.lycadmin.test
  #    ServerAlias lycadmin.test 127.0.0.1 localhost
  #    #errorDocument 404 /404.html
  #    ErrorLog "/www/wwwlogs/lycadmin.test-error_log"
  #    CustomLog "/www/wwwlogs/lycadmin.test-access_log" combined
  #
  #    #DENY FILES
  #     <Files ~ (\.user.ini|\.htaccess|\.git|\.env|\.svn|\.project|LICENSE|README.md)$>
  #       Order allow,deny
  #       Deny from all
  #    </Files>
  #    <Files ~ ".php">
  #        Order allow,deny
  #        Deny from all
  #    </Files>
  #
  #    <Proxy balancer://laravels>
  #        BalancerMember http://127.0.0.1:1215
  #    </Proxy>
  #    <Location /websocket >
  #        ProxyPass ws://127.0.0.1:1215
  #        ProxyPassReverse ws://127.0.0.1:1215
  #        Require all granted
  #    </Location>
  #    RewriteEngine on
  #    RewriteCond %{HTTP:Upgrade} websocket [NC]
  #    RewriteCond %{HTTP:Connection} upgrade [NC]
  #    RewriteRule /(.*) ws://127.0.0.1:1215/$1 [P,L]
  #
  #    # Handle Authorization Header
  #    RewriteCond %{HTTP:Authorization} .
  #    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  #
  #    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
  #    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
  #    RewriteRule ^/(.*)$ balancer://laravels%{REQUEST_URI} [P,L]
  #
  #
  #    #PATH
  #    <Directory "/www/wwwroot/lycadmin.test/public">
  #        SetOutputFilter DEFLATE
  #        Options FollowSymLinks
  #        AllowOverride All
  #        Require all granted
  #        DirectoryIndex index.html index.htm default.php default.html default.htm
  #    </Directory>
  #
  #
  #</VirtualHost>